@charset "UTF-8";

body{
    background-color: lightblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: lightpink;
    color: darkblue;
    font-size: 1.5em;
}

h2{
    color: darkgreen;
    font-size: 1.2em;
}

p{
    text-align: justify;
}